fastapi
uvicorn[standard]
pydantic
boto3
botocore
sqlalchemy
psycopg2-binary
python-dotenv
requests
PyJWT==2.8.0
google-auth==2.25.2
google-auth-oauthlib==1.2.0
google-auth-httplib2==0.2.0
pytest>=7.0.0
hypothesis>=6.0.0