Backend/aws_env/*
Frontend/node_modules/
Backend/layer/*
layer/*
Backend/lambda_package/*
aws_env/*

# Environment variables
.env
*.env
!.env.example

# Python cache
BackendAPI/__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Database
*.db
*.sqlite3